.cart-item-container {
  align-items: center;
  border: 1px solid #e1e5eb;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06) , 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 300px;
  line-height: 30px;
  margin: 10px;
  padding: 20px;
  width: 30%;
}

.cart-item-container img {
  height: 100px;
  width: 100px;
}

.cart-item-container button {
  background-color: green;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: 6px 32px;
  width: 50%;
}
