* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.app-header {
  background-color: green;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}

.app-header-nav {
  margin-top: 10px;
}
