* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.app-header {
  background-color: green;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.app-header > h2 {
  margin-top: 25px;
}

.app-header h2 a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.app-header-nav {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.app-header-nav > hr {
  border: 0.5px solid rgba(255, 255, 255, 0.168);
  height: 100%;
  width: 0;
}

.app-header-nav > * {
  align-items: center;
  background-color: rgba(133, 143, 133, 0.425);
  color: white;
  display: flex;
  font-size: 18px;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 50%;
}

.app-header-nav > *:hover {
  font-weight: 700;
}
